<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the rails tutorial sample application, <%= @user.name %></h1>
    <p>
      You have successfully signed up to the rails tutorial sample application,<br/>
      your username is: <%= @user.name %>.<br/>
      your email is: <%= @user.email %>.<br/>
    </p>
    <p>
      To activate your acount, just click <a href="http://stormy-rain-34.heroku.com/users/<%= @user.id %>/activate/<%= @user.token %>">here</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
