<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= wrap(feed_item.content) %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <% feed_item.comments.each do |comment| %>
      <span class="comment">
        <% @usercomment = User.find_by_id(comment.user_id) %>
        <%= link_to @usercomment.name, @usercomment %>
      </span>
      <span class="commentcontent"><%= comment.comment %></span>
      <span class="timestamp comment">
        Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
    <% end %>
    <%= form_tag "/posts/add_new_comment" do %>
      <%= hidden_field_tag "id", feed_item.id %>
      <%= text_field_tag "comment[comment]" %>
      <%= submit_tag "Post Comment" %>
    <% end %>
  </td>
  <% if current_user?(feed_item.user) %>
  <td id="deletefeed">
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>

